.fade-in-ltr {
    opacity 1;
    animation: fade-in-left-to-right 0.55s ease-in forwards;
}

.fade-in-rtl {
    opacity 0;
    animation: fade-in-right-to-left 0.55s ease-out forwards;
}

@keyframes fade-in-right-to-left {
    from {
       opacity: 0;
       transform: translateX(400%);
    }
    to {
       opacity: 1;
       transform: translateX(300%);
    }
 }

 @keyframes fade-in-left-to-right {
    from {
       opacity: 1;
       transform: translateX(300%);
    }
    to {
       opacity: 0;
       transform: translateX(400%);
    }
 }