#blog {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.blog-content {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.article-area {
    margin: 0 6%;
}
.article-area > * {
    font-size: 1.5rem;
}
.article-area > h1 {
    font-size: 3rem;
}
.article-area > h2 {
    font-size: 2rem;
}
.article-area > h3 {
    font-size: 1.5rem;
}

a{
    color: var(--color-accent-light);
    text-decoration: none;
    border-bottom: 0.5px solid var(--color-accent-light);
}

.side-bar {
    width: 60%;
}
.side-bar > * {
    border: 1px solid var(--color-secondary);
    min-height: 200px;
    margin-bottom: 16px;
    padding: 1rem;
}
.side-bar > * > ul{
    list-style: none;
    margin: 0;
    margin-top: 1rem;
    padding: 0;
}
.side-bar > * > ul > li{
    margin-bottom: 0.4rem;
}
.side-bar > * > ul > li > a{
    color: var(--color-accent-light);
    border-bottom: 0.5px solid var(--color-accent-light);
}

.blog-navigation {
    height: 8rem;
    margin: 0 6%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.navigation-buttons{
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}