.triangle-tr {
    border-top: 50px solid #F0897F;
    border-right: 50px solid #f6da69;
    border-bottom: 50px solid transparent;
    border-left: 50px solid transparent;
}
.triangle-tl {
    border-top: 50px solid #F0897F;
    border-left: 50px solid #F0897F;
    border-bottom: 50px solid transparent;
    border-right: 50px solid transparent;
}
.triangle-br {
    border-bottom: 50px solid #F0897F;
    border-right: 50px solid #F0897F;
    border-bottom: 50px solid transparent;
    border-left: 50px solid transparent;
}
.triangle-bl {
    border-bottom: 50px solid #F0897F;
    border-left: 50px solid #F0897F;
    border-bottom: 50px solid transparent;
    border-right: 50px solid transparent;
}