@import url("./shape.css");
@import url("./animation.css");
@font-face {
    font-family: "gokuboso";
    src: url(../../resources/chogokubosogothic_5.ttf);
}
html {
    margin: 0 auto;
    padding: 0 auto;
    background-color: aliceblue;
    font-size: 10px;
    font-family: "Poiret One", "gokuboso";
    color: lightsteelblue;
    width:100%;
    height:100%;
    overflow: hidden;
}

body {
    margin: 0 auto;
    padding: 0 auto;
    width: 100%;
    height: 100%;
    font-size: 0.8rem;
}

.background{
    position: absolute;
    margin: 0 auto;
    padding: 0 auto;
    width:100%;
    height:100%;
    z-index: -1;
}

h1 {
    margin: 0 auto;
    padding: 0 auto;
    font-size: 3rem;
}

.weight-thin {
    font-weight: 100;
}
.weight-normal {
    font-weight: 400;
}
.weight-bold {
    font-weight: 700;
}

.shadow-on {
    text-shadow: 1px 1px rgba(70, 131, 180, 0.14);
}

header {
    width: 95%;
    display: flex;
    flex-direction: column;
    padding: 0 2.5%;
    background-color: transparent;
}

content {
    width: 100%;
    height: 100%;
    padding: 0 2.5%;
    background-color: transparent;
}

row {
    padding: 1rem 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

button {
    background-color: transparent;
    color: lightsteelblue;
    border-color: lightsteelblue;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
}

button.hamburger {
    border-radius: 50%;
    width: 32px;
    height: 32px;
}

button:hover {
    background-color: rgba(128, 128, 128, 0.1);
}

.slidemenu {
    position: absolute;
    top: 5.5rem;
    width: 25%;
    height: 100%;
    border: 1px solid lightsteelblue;
    opacity: 0;
    backdrop-filter: blur(10px);
}

.slidemenu > .menucontent {
    width: 100%;
    height: 100%;
    padding: 1rem;
}





 .test{
    font-size: 70rem;
 }